p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

body {
  text-align: justify;
}

.theorem, .lemma, .proposition, .corollary, .definition, .example {
  margin: 20px 0;
}

.proof {
  margin: 10px 20px;
}

.solution {
  margin: 10px 20px;
}

.remark {
  margin: 10px 10px;
}